; Z140 Configuration File

[HomePoint]                         ; for coordinate conversion
Lat = 35.8617
Lon = 104.1954
Alt = 80                            ; in meter

[UAV]                               ; dubins curve properties
NormAirSpd = 35                     ; in meter/second
MaxAirSpd = 46                      ; in meter/second
MinAirSpd = 29                      ; in meter/second
MaxRollAngle = 20                   ; in degree
ClimbAngleLimit = 10                ; in degree
DiveAngleLimit = -10                ; in degree

[ADRC]
hat_b = 0.25                        ; input gain            0.25 / 2.00
omega_o = 1.00                      ; observer bandwidth    1.00 / 2.00
omega_c = 0.10                      ; controller bandwidth  0.10 / 0.20
P = 0.2                             ; proportional gain
I = 0.01                            ; integral gain
D = 0.01                            ; differential gain
useADRC = true

[LAP]
Gain = 0                            ; in meter
Bias = 5000                         ; in meter

[DelayTime]
MissionDelay = 10                   ; in seconds, NO LESS THAN ONE !!!