; Z164 Configuration File

[HomePoint]                         ; for coordinate conversion
Lat = 40.798958
Lon = 113.34104
Alt = 80                            ; in meter

[UAV]                               ; dubins curve properties
NormAirSpd = 42                     ; in meter/second
MaxAirSpd = 48                      ; in meter/second
MinAirSpd = 36                      ; in meter/second
MaxRollAngle = 12.5                 ; in degree
ClimbAngleLimit = 5                 ; in degree
DiveAngleLimit = -5                 ; in degree

[ADRC]
hat_b = 0.1                         ; input gain            0.07 / 0.05
omega_o = 0.6                       ; observer bandwidth    0.50 / 0.50
omega_c = 0.06                      ; controller bandwidth  0.05 / 0.05
P = 0.2                             ; proportional gain
I = 0.01                            ; integral gain
D = 0.01                            ; differential gain
useADRC = true

[LAP]
Gain = 0                            ; in meter
Bias = 5000                         ; in meter

[DelayTime]
MissionDelay = 10                   ; in seconds, NO LESS THAN ONE !!!